  <div class="grid-x grid-margin-x align-center">
    <div class="cell small-4">
      <h1 class="title-align">Forgot Password</h1>

      <div id="forgotMessage" class="callout" style="display:none;"></div>
      <div id="forgotSuccess" class="callout success" style="display:none;"></div>

      <form id="forgotForm">
        <label>Email
          <input id="username" name="username" type="email" required autocomplete="email" />
        </label>
        <button id="forgotSubmit" class="button primary" type="submit">Send reset link</button>
      </form>
    </div>
  </div>

<script type="module" src="/js/forgotPassword.js"></script>
