<body>
    <!-- Temperature Table Section -->
    <section id="temperatureSection">
        <h1 class="title-align">Incoming Data Dashboard</h1>
        <h2 class="title-align">Temperature Over Time</h2>
        <canvas id="temperatureChart"></canvas>
      


    </section>
    <!-- Error Table Section
    <section id="errorSection" class="grid-container">
        <h2>Error Messages</h2>
        <table id="errorTable" class="custom-table">
            <thead>
                <tr>
                    <th>Message</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                 Error rows will be dynamically inserted here
            </tbody>
        </table>
    </section> -->







    <!-- Foundation JavaScript -->
    <script src="js/foundation.min.js"></script>
    <script src="js/main.js"></script>
    <script type="module" src="js/utils.js"></script>
    <script type="module" src="js/main.js"></script>



</body>