<body>
    <!-- Temperature Table Section -->
    <section id="temperatureSection">
        <h1 class="title-align">Incoming Data Dashboard</h1>
        <h2 class="title-align">Temperature Over Time</h2>
        <canvas id="temperatureChart"></canvas>
      


    </section>
   





    <!-- Foundation JavaScript -->
    <script src="js/foundation.min.js"></script>
    <script src="js/main.js"></script>
    <script type="module" src="js/utils.js"></script>
    <script type="module" src="js/main.js"></script>



</body>