<%- include('../partials/header') %>

    <body>

        <div class="align-center">
            <br>



            <main>


                <%- body %> <!-- This is where page-specific content will be injected -->
            </main>


        </div>

        <%- include('../partials/footer') %>


            <!-- Add other JS files -->
            <script src="/js/jquery.min.js"></script>
            <script src="/js/foundation.min.js"></script>
            <script src="../js/foundationInit.js"></script>
            <script src="/js/foundationInit.js"></script>




    </body>

    </html>