<div class="grid-x grid-margin-x align-center">
    <div class="cell small-4">
        <div class="callout">
            <h1 class="title-align">Login Successful</h1>
            <br>

            <p>Welcome! Redirecting you to the homepage...</p>
            <br>

        </div>
    </div>
</div>



<script src="/js/authCheck.js"></script>
<script type="module" src="js/utils.js"></script>
<script src="/js/logout-redirect.js"></script>