<div class="grid-x grid-margin-x align-center">
    <div class="cell small-4">
        <h1 class="title-align">Login</h1>

        <!-- Alert container for showing login status messages -->
        <div id="alertContainer" class="callout success" style="display: none;"></div>

        <form id="loginForm">
            <div class="form-group">
                <label for="username">Username (Email):</label>
                <input type="email" id="username" name="username" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <div class="password-container">
                    <input type="password" id="password" name="password" required>
                    <i class="fas fa-eye toggle-password" id="togglePassword"></i>
                </div>
            </div>

            <button type="submit" class="button">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Register here</a></p>
        <p>Forgot password? <a href="/forgot-password">Click here to reset it.</a></p>
    </div>
</div>

<script src="/js/loginHandler.js"></script> <!-- Login-specific JS -->