<div class="grid-x grid-margin-x align-center">
  <div class="cell small-4">
    <div class="callout">
      <h1>Logout Successful</h1>
      <br>

      <p>Bye-bye</p>
      <br>

    </div>
  </div>
</div>




<script type="module" src="js/utils.js"></script>
<script src="/js/logoutHandler.js"></script>
<script src="/js/logout-redirect.js"></script>