<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Register</h1>
    
        <!-- Alert container for showing validation messages -->
        <div id="alertContainer" class="callout alert" style="display: none;"></div>
    
        <form action="api/auth/register" method="POST" id="registrationForm">
            <div class="form-group">
                <label for="username">Email:</label>
                <input type="email" id="username" name="username" required>
            </div>
    
            <div class="form-group">
                <label for="password">Password:</label>
                <div class="password-container">
                    <input type="password" id="password" name="password" required minlength="12">
                    <i class="fas fa-eye toggle-password" id="togglePassword"></i>
                </div>
                <small>Password must be at least 12 characters long, contain at least 1 uppercase letter, 1 lowercase letter, 1 number, and 1 symbol from: !@#$%^&*.</small>
            </div>
    
            <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <div class="password-container">
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
                    <i class="fas fa-eye toggle-password" id="toggleConfirmPassword"></i>
                </div>
            </div>
    
            <input type="hidden" name="role" value="reader">
            <button type="submit" class="button">Register</button>
        </form>
    
        <p>Already have an account? <a href="/login">Login here</a></p>
    </div>
    

    <!-- Import the validation script -->
    <script src="/js/statusMessage.js"></script>
    <script src="/js/registerValidation.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="/js/foundationInit.js"></script>
    
</body>

</html>
