
 <div class="grid-container">
  <div class="grid-x grid-margin-x align-center">
    <div class="cell  small-6">
      <h1 class="title-align">Reset Password</h1>

      <div id="resetMessage" class="callout" style="display:none;"></div>

      <form id="resetForm">
        <label>New password
          <div class="input-group">
            <input id="newPassword" name="newPassword" type="password" class="input-group-field" required autocomplete="new-password">
            <div class="input-group-button">
              <button id="togglePass" class="button secondary" type="button">Show</button>
            </div>
          </div>
          <small id="passwordHint" class="form-hint"></small>
        </label>

        <label>Confirm new password
          <div class="input-group">
            <input id="confirmPassword" name="confirmPassword" type="password" class="input-group-field" required autocomplete="new-password">
            <div class="input-group-button">
              <button id="toggleConfirm" class="button secondary" type="button">Show</button>
            </div>
          </div>
          <small id="confirmHint" class="form-hint"></small>
        </label>

        <button id="resetSubmit" class="button primary" type="submit">Update Password</button>
      </form>
    </div>
  </div>
</div>
    
   
    <script type="module" src="/js/resetPassword.js"></script>
