    <div class="cell medium-8 large-12">

      <!-- Collapsible Info Card Element -->
      <div class="custom-info-card">
        <ul class="accordion" data-accordion data-allow-all-closed="true">
          <!-- 
                          - The 'is-active' class makes this item open by default.
                          - Remove 'is-active' to have it start in a closed state.
                        -->
          <li class="accordion-item is-active" data-accordion-item>
            <!-- The clickable header with icon and title -->
            <a href="#" class="accordion-title">
              <i class="fas fa-info-circle"></i>
              <span><strong> IoT System Status & Connectivity</strong></span>
            </a>

            <!-- The collapsible content area -->
            <div class="accordion-content" data-tab-content>
              <p>To provide real-time feedback on the device's operational state,
                the system sends a status message every minute. This message contains
                crucial information about its WiFi connection and its connectivity to the MQTT broker.
                The Lily Bridge user interface displays this latest status, giving users a clear
                and immediate indication of whether the IoT device is online and actively communicating.
              </p>
            </div>
          </li>
        </ul>
      </div>

    </div>


<table class="hover custom-table">
  <thead>
    <tr>
      <th>Board ID</th>
      <th>MAC Address</th>
      <th>Status</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody id="statusMessagesTable">
    <!-- Status messages will be dynamically inserted here -->
  </tbody>
</table>

<!-- Pagination Controls -->
<div id="paginationControls" class="grid-x grid-padding-x">
  <div class="cell small-6 medium-4">
    <label for="pageSize">Rows per page:</label>
    <select id="pageSize">
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>
  <div class="cell small-6 medium-8 text-right">
    <button class="button small primary radius small-radius" id="prevPage">Previous</button>
    <button class="button small primary radius small-radius" id="nextPage">Next</button>
  </div>
  <div id="paginationInfo" class="cell small-12 text-right"></div>
</div>


<script type="module" src="/js/status.js"></script>
<script src="/js/statusMessage.js"></script>