    <div class="cell medium-8 large-12">

      <!-- Collapsible Info Card Element -->
      <div class="custom-info-card">
        <ul class="accordion" data-accordion data-allow-all-closed="true">
          <!-- 
                          - The 'is-active' class makes this item open by default.
                          - Remove 'is-active' to have it start in a closed state.
                        -->
          <li class="accordion-item is-active" data-accordion-item>
            <!-- The clickable header with icon and title -->
            <a href="#" class="accordion-title">
              <i class="fas fa-info-circle"></i>
              <span><strong>IoT Device Sensor Data</strong></span>
            </a>

            <!-- The collapsible content area -->
            <div class="accordion-content" data-tab-content>
              <p>The data at the heart of this project originates from a custom-built IoT device designed for
                reliability and precision.
              <ul>
                <li>
                  <b> The Core Components:</b> The device is powered by an ESP32, a powerful and versatile
                  microcontroller.
                  It gathers temperature data using a <b>DS18B20 digital temperature sensor</b>, which is known for its
                  accuracy.
                  The sensor communicates with the ESP32 over a 1-Wire bus and provides readings in Celsius.
                </li>
                <li><b>Data and Precision: </b> Every 10 minutes, the device takes a new temperature reading.
                  The DS18B20 sensor offers a high resolution of between 9 and 12 bits, ensuring that
                  the data captured is precise and suitable for detailed analysis.
                </li>
                <li><b>Accurate Timestamping:</b> To ensure every reading is accurately timed, the device synchronizes
                  with a
                  Network Time Protocol (NTP) server to get the precise time.
                  In the rare event that the NTP server is unreachable, the device prioritizes data integrity;
                  it will send a specific error message to the broker and skip the temperature reading for that
                  minute to avoid publishing data with an incorrect timestamp.

                </li>
              </ul>
              </p>
            </div>
          </li>
        </ul>
      </div>

    </div>
 
<div id="temperatureMessagesContainer">
  <!-- Table structure for messages -->
  <table class="hover custom-table">
    <thead>
      <tr>
        <th class="board">Board</th>
        <th class="macAddress">MAC</th>
        <th class="temperature">Sensor Data</th>
        <th class="timestamp">Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <!-- Temperature messages will be dynamically inserted here -->
    </tbody>
  </table>

  <!-- Pagination controls -->
  <div id="paginationControls" class="grid-x grid-padding-x">
    <div class="cell small-3">
      <label for="pageSize">Rows per page:</label>
      <select id="pageSize">
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <div class="cell small-9 text-right">
      <span id="paginationInfo"></span>
      <button class="button small primary radius small-radius" id="prevPage">Previous</button>
      <button class="button small primary radius small-radius" id="nextPage">Next</button>
    </div>
  </div>
</div>

<script src="/js/statusMessage.js"></script>
<script type="module" src="/js/temperature.js"></script>
