<div class="grid-container">
    <div id="messageContainer"></div>

<div id="successContent" style="display: none;">
    <div class="callout">
    <h1>Verification Successful!</h1>
    <p>Your account is now active. You will be redirected to the login page shortly.</p>
    </div>
    </div>
</div>

<script src="/js/verifyEmail.js"></script>
<script type="module" src="js/utils.js"></script>
<script src="/js/logout-redirect.js"></script>