<div class="grid-container">
    <div id="alertContainer" class="callout alert" style="display: none;"></div>
    <div class="callout text-center">
        <h1>Verification Successful</h1>
        <p>Welcome! Redirecting you to the homepage...</p>
    </div>
</div>

<script src="/js/verifyEmail.js"></script>
<script type="module" src="js/utils.js"></script>
<script src="/js/logout-redirect.js"></script>