<!-- frontend/partials/right-sidebar.ejs -->
<div class="callout primary">
    <h2> Status </h2>
    <div id="lastStatusMessagesContainer" >
       
      <!-- Status message and time since sent will be inserted here -->
       
    </div>
  </div>
  