<!-- Sidebar Section -->
<div class="callout primary">
  <ul class="vertical menu" data-accordion-menu>
    <li><a href="/" target="_self"><i class="fas fa-home"></i> Home</a></li>

    <!-- View Messages Accordion -->
    <li>
      <a href="#" data-submenu-toggle><i class="fas fa-envelope-open-text"></i> View Data</a>
      <ul class="menu vertical nested">
        <li><a href="/temperature"><i class="fas fa-thermometer-half"></i> Sensor Data</a></li>
        <li><a href="/status"><i class="fas fa-refresh"></i> Status</a></li>
        <li><a href="/errors"><i class="fas fa-exclamation-circle"></i> Errors</a></li>
      </ul>
    </li>

    <!-- Cleanup Messages Accordion -->
    <li>
      <a href="#" data-submenu-toggle><i class="fas fa-trash-alt"></i> Cleanup Data</a>
      <ul class="menu vertical nested">
        <li><a href="/delete-temp-messages"><i class="fas fa-thermometer-half"></i> Sensor Data</a></li>
        <li><a href="/delete-status-messages"><i class="fas fa-sync"></i> Status </a></li>
        <li><a href="/delete-error-messages"><i class="fas fa-exclamation-circle"></i> Errors</a></li>
      </ul>
    </li>

    <!-- Upload Options Accordion -->
    <li>
      <a href="#" data-submenu-toggle><i class="fas fa-upload"></i> Upload Options</a>
      <ul class="menu vertical nested">
        <li><a href="/select-messages-iota"><i class="fas fa-cloud-upload-alt"></i> IOTA Upload</a></li>
        <li><a href="/select-messages-signum"><i class="fas fa-cloud"></i> Signum Upload</a></li>
      </ul>
    </li>

    
    <!-- Additional Links -->
    <li><a href="/user-settings"><i class="fas fa-sliders-h"></i> User Settings</a></li>
    <li><a href="#documentation"><i class="fas fa-book"></i> Docs</a></li>
    <li><a href="http://localhost:3000/api-docs/"><i class="fas fa-code"></i> API</a></li>
    <li><a href="https://github.com/feyd27/LilyBridge"><i class="fas fa-sync"></i> Repo</a></li>
  </ul>
</ul>
<button id="loginButton" class="button small primary">Login</button>
<button id="logoutButton" class="button small alert" style="display: none;">Logout</button>
  <script type="module" src="/js/authButtons.js"></script>
</div>

