<!-- Sidebar Section -->
<div class="callout primary">
  <ul class="vertical menu" data-accordion-menu>
    <li><a href="/" target="_self"><i class="fas fa-home"></i> Home</a></li>

    <!-- View Messages Accordion -->
    <li>
      <a href="#" data-submenu-toggle><i class="fas fa-envelope-open-text"></i> View Messages</a>
      <ul class="menu vertical nested">
        <li><a href="/temperature"><i class="fas fa-thermometer-half"></i> Temperature Data</a></li>
        <li><a href="/status"><i class="fas fa-refresh"></i> Status</a></li>
        <li><a href="/errors"><i class="fas fa-exclamation-circle"></i> Error Logs</a></li>
      </ul>
    </li>

    <!-- Cleanup Messages Accordion -->
    <li>
      <a href="#" data-submenu-toggle><i class="fas fa-trash-alt"></i> Cleanup Messages</a>
      <ul class="menu vertical nested">
        <li><a href="/delete-temp-messages"><i class="fas fa-thermometer-half"></i> Temperature Messages</a></li>
        <li><a href="/delete-status-messages"><i class="fas fa-sync"></i> Status Messages</a></li>
        <li><a href="/delete-error-messages"><i class="fas fa-exclamation-circle"></i> Error Messages</a></li>
      </ul>
    </li>

    <!-- Upload Options Accordion -->
    <li>
      <a href="#" data-submenu-toggle><i class="fas fa-upload"></i> Upload Options</a>
      <ul class="menu vertical nested">
        <li><a href="#iotaUpload"><i class="fas fa-cloud-upload-alt"></i> IOTA Upload</a></li>
        <li><a href="#signumUpload"><i class="fas fa-cloud"></i> Signum Upload</a></li>
      </ul>
    </li>

    
    <!-- Additional Links -->
    <li><a href="#userSettings"><i class="fas fa-sliders-h"></i> User Settings</a></li>
    <li><a href="#documentation"><i class="fas fa-book"></i> Documentation</a></li>
    <li><a href="https://github.com/feyd27/LilyBridge"><i class="fas fa-code"></i> Repository</a></li>
  </ul>
</ul>
<button id="loginButton" class="button small primary">Login</button>
<button id="logoutButton" class="button small alert" style="display: none;">Logout</button>
</div>

