<!-- Sidebar Section -->
 <div class="callout primary">
    <ul class="menu vertical">
      <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
      <li><a href="#temperatureSection"><i class="fas fa-thermometer-half"></i> Temperature Data</a></li>
      <li><a href="#statusMessagesContainer"><i class="fas fa-refresh"></i> Status</a></li>
      <li><a href="#errorSection"><i class="fas fa-exclamation-circle"></i> Error Logs</a></li>
      <li><a href="#errorSection"><i class="fas fa fa-trash"></i> Cleanup messages</a></li>
      <li><a href="#errorSection"><i class="fas fa fa-sliders"></i> User settings</a></li>
      <li><a href="#errorSection"><i class="fas fa fa-upload"></i> IOTA upload</a></li>
      <li><a href="#errorSection"><i class="fas fa-cloud-upload"></i> Signum upload</a></li>
      <li><a href="#errorSection"><i class="fas fa fa-book"></i> Documentation</a></li>
      <li><a href="https://github.com/feyd27/LilyBridge"><i class="fas fa fa-code"></i> Repository</a></li>
      <li><a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
  </div>